.wrapper {
  padding: 100px 100px 30vh;
  height: 100vh;
}

.block-gray {
  height: 100%;
  box-shadow: 0 0 10px rgb(94, 84, 84);
  border-radius: 5px;
  background: radial-gradient(circle at center, rgb(87, 136, 52) 10%, rgb(151, 193, 122), rgb(75, 172, 242));
}

.content {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  background: url(../zuabls.png) repeat-x bottom;
  background-size: 50px;
}

.content img {
  margin-top: 1rem;
  height: 14rem;
}

.smells-like-teens-poop {
  width: 100%;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 7rem;
}