body {
  background-color: #333;
  color: #fff;
  font-family: sans-serif;
}

.wrapper {
  padding: 50px;
  min-height: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.grid {
  margin-bottom: 200px;
  padding-bottom: 200px;
  border-bottom: 10px solid #363636;
  min-height: 100vh;
}

.item {
  border: 5px dashed #444;
  font-size: 40px;
  padding: .8em;
  text-align: center;
}

/* -------------------------------------------------------- */

.grid-1 {
  display: grid;
  /* grid-template-columns: repeat(6, 1fr); */
  /* grid-template-rows: auto auto; */
  /* grid-template: repeat(2, 300px) / repeat(3, 1fr); */
  /* grid-template-columns: 200px minmax(100px, 1fr); */
  /* grid-template-columns: 100px auto 300px; */
  /* grid-template-columns: 1fr fit-content(300px) 1fr; */
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template: 150px 150px / repeat(3, 1fr);
  justify-items: end;
  align-items: end;
}

.grid-1__item_1 {
  order: 1;
}
.grid-1__item_2 {
  order: 2;
}
.grid-1__item_3 {
  order: 5;
}
.grid-1__item_4 {
  order: 4;
  justify-self: stretch;
  align-self: center;
}
.grid-1__item_5 {
  order: 3;
}
.grid-1__item_6 {
  order: 6;
}

/* ------------------ */

.grid-2 {
  display: grid;
  grid-template: 
  "header header" 1fr
  "main aside" 5fr
  "footer footer" 2fr
  / 1fr 300px;
}

.grid-2__item_header {
  grid-area: header;
}
.grid-2__item_main {
  grid-area: main;
}
.grid-2__item_aside {
  grid-area: aside;
}
.grid-2__item_footer {
  grid-area: footer;
}

/* --------------------- */

.grid-3 {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  /* grid-auto-rows: 400px; */
  /* grid-auto-columns: 300px; */
  grid-auto-flow: dense;
}

.grid-3__item_6 {
  grid-column: span 2;
}
/* ---------------------- */

.grid-4 {
  display: grid;
  grid-template:
  [row1] 1fr [row2] 1fr [row3]
  / [col1] 1fr [col2] 1fr [col3] 1fr [col4];
  grid-gap: 20% 10%;
}

.grid-4__item_3 {
  /* grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2; */
  grid-row: row2 / row3; /*грани Строк*/
  grid-column: col3 / col4; /*грани Колонок*/
}