body {
  background-color: aquamarine;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;
  padding: 50px;
  width: 80%;
  background-color: sandybrown;
}
.container {
  background-color: wheat;
  padding: 50px;
  width: 100%;
  display: flex;
}
.block {
  border: 50px solid hsl(39, 77%, 63%);
  background-color: hsl(39, 77%, 33%);
  font-size: 4rem;
  text-align: center;
  padding: 50px;
  color: #fff;
}
.block_3 {
  flex-basis: 300px;
  flex-grow: 1;
}