.interactive-block {
  display: flex;
  justify-content: center;
}
.interactive-block__btn {
  width: 80%;
  background: radial-gradient(rgb(163, 76, 255), rgb(222, 228, 32), rgb(47, 40, 226));
  font-size: 7rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  line-height: 2;
  transition: all 1.4s;
}
.interactive-block__btn:hover {
  border-radius: 50%;
  background: radial-gradient(rgb(47, 40, 226), rgb(222, 228, 32), rgb(163, 76, 255));
}

.mystery-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}
.mystery-block:hover .mystery-block__line {
  width: 100%;
}
.mystery-block_positioning {
  margin-top: 3rem;
}
.mystery-block__line {
  height: 200px;
  width: 10%;
  transition: 3s;
}
.mystery-block__line_first {
  background-color: rgb(216,28,63);
  transition-timing-function: ease;
}
.mystery-block__line_second {
  background-color: rgb(85,117,196);
  transition-timing-function: ease-in;
}
.mystery-block__line_third {
  background-color: rgb(239,107,0);
  transition-timing-function: ease-out;
}
.mystery-block__line_fourth {
  background-color: #F984E5;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}